@import "tailwindcss";

@theme {
	--color-purp: #5a4287;
	--color-purp-50: #efecf3;
	--color-purp-100: #ded9e7;
	--color-purp-200: #bdb3cf;
	--color-purp-300: #9c8eb7;
	--color-purp-400: #7b689f;
	--color-purp-500: #5a4287;
	--color-purp-600: #48356c;
	--color-purp-700: #362851;
	--color-purp-800: #241a36;
	--color-purp-900: #120d1b;
	--color-greybg: #16171d;

	--font-display: "Montserrat";
}


@layer components{
	.new_chat_btn{
		@apply cursor-pointer bg-purp-500 hover:bg-purp-400 text-white font-bold py-2 px-3 border-b-4 border-purp-700 hover:border-purp-500 rounded
	}

	.send_btn{
		@apply cursor-pointer bg-purp-500 hover:bg-purp-400 text-white font-bold py-2 px-4 border-b-1 border-purp-700 hover:border-purp-500 rounded
	}

	.basic_btn{
		@apply cursor-pointer bg-purp-500 hover:bg-purp-700 text-white font-bold py-3 px-5 rounded
	}

	.navlink{
		@apply lg:p-4 p-4 block border-b-2 border-transparent hover:border-purp-500 cursor-pointer text-purp-100 hover:text-purp-500
	}

	.logo_text{
		@apply text-xl text-purp-100
	}

	.convo{
		@apply flex justify-center p-4 hover:text-white cursor-pointer text-black
	}
}


@layer base{
	body{
		@apply bg-gray-300 h-full font-display
	}
}


@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none;    /* Firefox */
	}
}